/*CSS RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*UTILS*/
.container{
    width: 1200px;
    margin: 0 auto;
}

.border{
    border: 2px dashed black;
}

.card-image{
   max-width: 100%;
}

ul{
    display: flex;
    gap: 15px;
    list-style: none;    
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.red{
    color: red;
    font-weight: 600;
    padding-right: 4px;
}

.line-through{
    text-decoration: line-through;
}

.bold-text{
    font-weight: 600;
}

.bg-black{
    background-color: #1A1A1A;
}

.c-white{
    color: rgb(255, 255, 255);
}

.d-flex{
    display: flex;
}

.s-between{
    justify-content: space-between;
}

.p-20{
    padding: 20px 0px;
}

.line-h{
    line-height: 2;
}

/*HEADER*/
header{
    background-color: #FF6900;
    height: 100px;
    position:sticky;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    font-weight: 600;
    /* margin-bottom: 80px; */
    z-index: 1;
}

.navbar{
    height: 100%;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
}

.navbar > *{
    flex-basis: calc(100% / 3);
}

.logo-image{
    height: 30px;
}

.navbar-type{
    display: flex;
    flex-grow: 1;
}

.navbar-account{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

/*MAIN*/
.row{
    display: flex;
    margin: 0 -10px;
    flex-wrap: wrap;
}

.col{
    flex-basis: calc(100% / 3 - 20px);
    margin: 10px;
}

.card img{
    max-width: 100%;
    min-height: 500px;
}

.card-image{
    max-width: 100%;
    height: auto;
    display: block;
    position: relative;
}

.card .secondary-pic {
    display: none;
}

.card:hover .secondary-pic{
    display: block;
}

.card:hover .main-pic{
    display: none;
}

.favourite{
    height: 50px;
    width: 50px;
    position: absolute;
    font-size: 1.3rem;
    text-align: center;
    right: 0;
    top: 10px;
    line-height: 50px;
    background-color: white;
    cursor: pointer;
}

.favourite:hover{
    color: red;
    transition: 0.5ms;
}

.product-info{
    padding-bottom: 20px;
}

.row-card{
    display: flex;
    margin: 0 -1rem;
    flex-wrap: wrap;
}  